page-list {

}
.lot-name {
  width: 30%;
  float: left;
}
.frac-left {
  width: 70%;
  float: right;
  text-align: right;
}
.lot-name-header {
  width: 50%;
  float: left;
}
.frac-left-header {
  width: 50%;
  float: right;
  text-align: right;
}
