page-detail {

}

h5 {
    text-align: center;
}

ion-slide {
    // background-color: rgb(206, 214, 216);
    background-color: rgb(255, 255, 255);
}

.container {
    height: 100%;
    width: 100%;
}

.chartContainer {
    height: 100%;
    width: 100%;
}

canvas {
    height: 100%;
    width: 100%;
}
